@model ListCommentViewModel
@{
    ViewBag.Title = "CommentList";
    Layout = null;
}

<h2>CommentList</h2>
<div class="col-12 col-lg-9">
    <div><h2>@Model.Title</h2></div>
    <div><h2>@Model.Slug</h2></div>
    @foreach (var record in Model.Comments)
    {
    <div class="content-wrap">
        <h4 class="entry-title">@record.Body</h4>
        <ul>
            <li>
                <a href="@Url.Action("CommentEdit", "Comment", new { id = record.Id })">Edit</a>
            </li>
        </ul>
    </div><!-- .content-wrap -->
    }
</div>


